{% extends 'pages/base.html' %}
{% block contentbody %}
    <div class="upload-container" style="position: relative; width: 60%; margin-left: 20%;height: 130px; margin-right: 20%; background-color: rgba(0,0,0,0.6); margin-top: 100px">
    <div>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input style="height: 50px; width: 40%; padding: 30px;color: white; margin-left: 20%" type="file" name="myfile">
        <button type="submit">Check</button>
        </form>
        {% if result %}
        <p style="color:red; margin-left: 15%;font-size: 18px; margin-top: 20px">Key: {{ result }}</p>
        {% endif %}
    </div>
    </div>
    <script>
        $('#trangchu').removeClass('active').addClass('noactive');
        $('#dangnhac').removeClass('active').addClass('noactive');
        $('#checkbanquyen').removeClass('noactive').addClass('active');
    </script>
{% endblock %}